/* Last Rule */
   p { 

 color: brown;
}

p{
    color: green;
}
p{
    color: blue;
} 

/* SPECIFICITY */
   *{  
    color: brown;
 } 

  p { 
     color: green !important;  
 }
 p { 
    color: blue;
   }  



